

body, html {
 box-sizing: border-box;
 min-height: 100vh;
}


/******** Header  TODO: add photo grid  as background image  *******/
.header {
  background-color: white;
  /*height: 150px;  TODO:  height should not be hard coded */

  padding: 20px;
  color: #333;;
  
  background-image: url('./images/backgroundPattern.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
}


.title-div{
  padding: 10px 25px;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 5px;
  border: 1.2px solid #D25248;
}


.title {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1px;
 
  
}

.subheading { 
  font-size: 1.5rem;
  font-weight: 400;
  font-family: cursive;
  letter-spacing: 1px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #D25248;
  color: #2a485f;
  color: black;
}

/******* Main *******/

.main {
  display: grid; 
  padding: 20px;
}

.globe {
  width: 50px;
  height: 50px;
  padding-top: 4px;
}

.unesco-intro {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
}

.menu-icon-button { /* toggles sidebar open/closed */
  border: none;
  background-color: transparent;
  transition: .2s ease;
  margin-right: 5px;
}

.menu-icon-button:hover, .menu-icon-button:focus {
  cursor: pointer;
  background-color: #cee2cb;
  border: .5px solid #c3dcc0;
  border-radius: 10px;
}


.map {
  height: 500px;
  width: 100%;
}


/****** Sidebar ******/

.sidebar {
  background: #fffcf9;
  border: 2px solid #0b3170;
  padding: 10px;
}


.sidebar-select {
 height: 30px;
 width: 150px;
 font-size: 15px;
}


.sidebar-list {
  list-style: none;
  padding: 0;
  
}

.sidebar-listItem {
  padding: 8px 0 8px 5px;
  margin-bottom: 3px
}

/* apply different colored borders to the list items depending on site type */
.cultural {
  border-left: 3px solid #faff02;
}

.cultural:hover, .cultural:focus {
  border: 3px solid #faff02;
  cursor: pointer;
}

.natural {
  border-left: 3px solid #24d046;
}

.natural:hover, .natural:focus {
  cursor: pointer;
  border: 3px solid  #24d046;
}

.mixed {
  border-left: 3px solid #ee6c3a;
}

.mixed:hover, .mixed:focus {
  cursor: pointer;
  border: 3px solid #ee6c3a;
}



/****** Infowindow TODO: style the infowindow - solid color bar at top? natural-green, cultural-blue, etc  ******/
.infowindow {
  display: flex;
}

.location-photo {
  margin-right: 10px;
}

.location-title {
  margin-top: 0;
}


/****** Footer ******/
.footer {
  padding: 4rem 1rem;
  color: #FFFCF9;
  background-color: #363636;
  text-align: center;
  font-weight: 300;
  display: grid;

  margin-top: auto;
}

.quote {
  color: #EDD270;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.learn-more {
  font-size: 1.1rem;
}

.api-attribution {
  align-items: flex-end;
  font-size: .9rem;
}

.footer a {
  color: #B5C48B;
  text-decoration: none;
  transition: color .2s ease;
}

.footer a:hover, .footer a:focus {
  color: orange;
}

/****** Error Message if Google maps doesn't work ******/
.error {
  text-align: center;
  font-size: 1.3rem;
  
  padding: 20px 10px;
  margin: 50px 0;
}


/****** Media Queries ******/
@media screen and (min-width: 900px){
  .main {
    grid-template-columns: auto 1fr;
  }

  .quote {
    max-width: 60%;
    margin: 17.6px auto;
  }

}

