body, html {
 box-sizing: border-box;
 min-height: 100vh;
}


:root {
  --mixed-orange: #ee6c3a;
  --natural-green: #24d046;
  --cultural-yellow: #faff02;
}

/******************* header *********************/
.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 55px);
  
  grid-template-areas: "photo1 photo2 photo3 photo4 photo5 photo6 photo7"
                       "photo8 titleDiv titleDiv titleDiv titleDiv titleDiv photo9"
                       "photo10 titleDiv titleDiv titleDiv titleDiv titleDiv photo11"
                       "photo12 photo13 photo14 photo15 photo16 photo17 photo18"
}


.title-div{
  grid-area: titleDiv;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}


.title {
  text-align: center;
  letter-spacing: 5px;
  font-size: 2rem;
  font-family: 'Alex Brush', cursive;
  font-weight: 500;
}


/** header photos **/
.photo1 {
  grid-area: photo1;
  background-image: url('./images/iran.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo2 {
  grid-area: photo2;
  background-image: url('./images/peru.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo3 {
  grid-area: photo3;
  background-image: url('./images/prague.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo4 {
  grid-area: photo4;
  background-image: url('./images/egypt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo5 {
  grid-area: photo5;
  background-image: url('./images/torres.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo6 {
  grid-area: photo6;
  background-image: url('./images/russia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo7 {
  grid-area: photo7;
  background-image: url('./images/elephants.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo8 {
  grid-area: photo8;
  background-image: url('./images/tajmahal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo9 {
  grid-area: photo9;
  background-image: url('./images/fitzroy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo10 {
  grid-area: photo10;
  background-image: url('./images/prayerflags.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo11 {
  grid-area: photo11;
  background-image: url('./images/operahouse.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo12 {
  grid-area: photo12;
  background-image: url('./images/petra.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo13 {
  grid-area: photo13;
  background-image: url('./images/venice.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo14 {
  grid-area: photo14;
  background-image: url('./images/greece.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo15 {
  grid-area: photo15;
  background-image: url('./images/vigan.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo16 {
  grid-area: photo16;
  background-image: url('./images/trinidad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo17 {
  grid-area: photo17;
  background-image: url('./images/iguazu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photo18 {
  grid-area: photo18;
  background-image: url('./images/siemreap2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/*********************** Main ***********************/
.main {
  display: grid; 
  padding: 20px;
  border-left: 1px solid rgba(53, 90, 118, .4);
  border-right: 1px solid rgba(53, 90, 118, .4);
}

.subheading {
  margin: 12px 0;
  grid-column: 1 / -1;
  font-size: 1.3rem;
  font-weight: 400;
  color: #111;
}


.globe {
  width: 50px;
  height: 50px;
  padding-top: 4px;
}


.unesco-intro {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
}


.menu-icon-button { /* surrounds the globe icon. toggles sidebar open/closed */
  border: none;
  background-color: transparent;
  transition: .2s ease;
  margin-right: 5px;
}


.menu-icon-button:hover, .menu-icon-button:focus {
  cursor: pointer;
  border: 2px solid #1788E3;
  border-radius: 10px;
  background-color: #ebf5fd;
}


.map {
  height: 500px;
  width: 100%;
}


/************************ Sidebar ************************/
.sidebar {
  background: #fffcf9;
  border: 2px solid #0b3170;
  padding: 10px;
}


.sidebar-select {
 height: 30px;
 width: 150px;
 font-size: 15px;
}


.sidebar-list {
  list-style: none;
  padding: 0;
  
}


.sidebar-listItem {
  padding: 8px 0 8px 5px;
  margin-bottom: 3px
}


/* apply different colored borders to the list items depending on site type */
.cultural {
  border-left: 3px solid var(--cultural-yellow);
}


.cultural:hover, .cultural:focus {
  border: 3px solid var(--cultural-yellow);
  cursor: pointer;
}


.natural {
  border-left: 3px solid var(--natural-green);
}


.natural:hover, .natural:focus {
  cursor: pointer;
  border: 3px solid  var(--natural-green);
}


.mixed {
  border-left: 3px solid var(--mixed-orange);
}


.mixed:hover, .mixed:focus {
  cursor: pointer;
  border: 3px solid var(--mixed-orange);
}


/******************** Infowindow ********************/

/* the div wrapping my info window content */
.infowindow {
  display: grid;
  grid-gap: 1rem;
}


/* class applied by google maps */
.gm-style-iw {

  /* trying to fix bug of infowindow content being cut off */
  overflow: scroll;

  /*
  width: auto !important;
  top: 0 important!;
  left: 0 important;
 */
}


.location-photo {
  margin-right: 10px;
}


.location-info {
  display: flex;
  flex-direction: column;
}


.location-title {
  margin: 0;
  font-size: 1rem;
  /*
  text-align: center;
  */
  padding: 0 2px 2px 2px;
  color: #2a2a2a;
}


.location-location {
  margin-bottom: 0;
}


.location-inscription {
  margin-bottom: 0;
}


.location-type {
  margin: 0;
  display: flex;
  align-items: center;
}


/* underline the location-title with the color that matches the site type */
.yellowBorder {
  border-bottom: 2px solid  var(--cultural-yellow);
}


.greenBorder {
  border-bottom: 2px solid var(--natural-green);
}


.redBorder {
  border-bottom: 2px solid var(--mixed-orange);
}


.bullet {
  font-size: 2rem;
  margin-right: 4px;
}


/* color the bullet point to match the site type */
.yellowBullet {
  color: var(--cultural-yellow);
}


.greenBullet {
  color: var(--natural-green);
}


.redBullet {
  color: var(--mixed-orange);
}


/****** Footer ******/
.footer {
  padding: 4rem 1rem;
  color: #FFFCF9;
  background-color: #363636;
  text-align: center;
  font-weight: 300;
  display: grid;
}


.quote {
  color: #EDD270;
  font-size: 1.1rem;
  letter-spacing: 1px;
}


.learn-more {
  font-size: 1.1rem;
}


.api-attribution {
  align-items: flex-end;
  font-size: .9rem;
}


.footer a {
  color: #B5C48B;
  text-decoration: none;
  transition: color .2s ease;
}


.footer a:hover, .footer a:focus {
  color: orange;
}


/****** Error Message if Google maps doesn't work ******/
.error {
  text-align: center;
  font-size: 1.3rem;  
  padding: 20px 10px;
  margin: 50px 0;
}


/************************ Media Queries *********************/
@media screen and (min-width: 600px){
  .title {
    font-size: 2.5rem;
    
  }
}


@media screen and (min-width: 900px){
  .main {
    grid-template-columns: auto 1fr;
  }

  .quote {
    max-width: 60%;
    margin: 17.6px auto;
  }

}

